{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for task in tasks %}
        <hr>
        <div class="card text-dark mb-3">
            <h5 class="card-header fs-2">{{ task.name }}</h5>
            <div class="card-body">
                <h5 class="card-title text-success fs-3">{{ task.status }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}