{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for task in tasks %}
        <hr>
        <div class="card text-dark mb-3">
            <h5 class="card-header fs-2  bg-warning">{{ task.name }}</h5>
            <div class="card-body">
                {% if task.status == 'new' %}
                <h5 class="card-title text-success fs-3">{{ task.status }}</h5>
                {% elif task.status == 'in_progress' %}
                <h5 class="card-title text-warning fs-3">{{ task.status }}</h5>
                {% else %}
                <h5 class="card-title text-primary fs-3">{{ task.status }}</h5>
                {% endif %}
                <p class="card-text">{{ task.description }}</p>
                <a href="{% url 'task-detail' id=task.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}